.swiperContainer {
  img {
    width: 100%;
    object-fit: cover;
  }
  .mySwiper {
    --swiper-pagination-color: #fefefe;
    --swiper-navigation-color: #fefefe;
    // --swiper-button-next-border: 1px solid black;
  }
}
@media screen and (min-width: 250px) {
  .swiperContainer {
    img {
      min-height: 250px;
    }
    .mobileAndTabletVersion {
      display: block;
    }
    .laptopVersion {
      display: none;
    }
  }
}
@media screen and (min-width: 375px) {
  .swiperContainer {
    img {
      min-height: 375px;
    }
  }
}
@media screen and (min-width: 768px) {
  .swiperContainer {
    img {
      min-height: 768px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .swiperContainer {
    img {
      min-height: 96.9vh;
    }
    .mobileAndTabletVersion {
      display: none;
    }
    .laptopVersion {
      display: block;
    }
  }
}
@media screen and (min-width: 1152px) {
  .swiperContainer {
    img {
      min-height: 97.3vh;
    }
  }
}
@media screen and (min-width: 1280px) {
  .swiperContainer {
    img {
      min-height: 97.3vh;
    }
  }
}
@media screen and (min-width: 1440px) {
  .swiperContainer {
    img {
      min-height: 97.3vh;
    }
  }
}
@media screen and (min-width: 1920px) {
  .swiperContainer {
    img {
      min-height: 97.6vh;
    }
  }
}
