@import "../../Scss/Responsive\ measure/measure";

.vlogSwiper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 230px;
  bottom: -90px;
  left: 47%;
  transform: translate(-50%, -50%);

  @include responsive992 {
    width: 100%;
    height: 190px;
    bottom: -70px;
  }
  @include responsive580 {
    height: 140px;
  }
  @include responsive374 {
    height: 110px;
    bottom: -50px;
  }

  .vlogSwiperItem {
    object-fit: cover;
    margin-left: 20px;

    img {
      width: 288px;
      object-fit: cover;

      @include responsive992 {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      
    }
  }
}
