.vlogSwiper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 230px;
  bottom: -90px;
  left: 47%;
  transform: translate(-50%, -50%);

  @media (max-width: 768px) {
    /* Ekran genişliği 768px veya daha küçükse aşağıdaki stil uygulanır */
    width: 100%;
    height: 180px;
    bottom: -70px;
  }

  .vlogSwiperItem {
    object-fit: cover;
    margin-left: 20px;

    img {
      width: 288px;
      object-fit: cover;

      @media (max-width: 768px) {
        /* Ekran genişliği 768px veya daha küçükse aşağıdaki stil uygulanır */
        width: 100%; /* Resimlerin genişliği %100 olarak ayarlanır */
        max-width: 100%; /* Resimlerin maksimum genişliği %100 olarak ayarlanır */
        height: auto; /* Resimlerin yüksekliği otomatik olarak ayarlanır */
      }
    }
  }
}
