@import "../../Scss/Responsive\ measure/measure";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// html {
//   // @include responsive1440 {
//   //   font-size: 85%;
//   // }
// }
.Carousel {
  width: 85%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  top: 20px;
  @include responsive992 {
    top: 200px;
  }
  @include responsive374 {
    width: 274px;
  }

  .item1 {
    border-radius: 8px;
    background-image: url("../Images/CustomCommentsImg/CarouselBackground.png");
    background-size: cover;
    width: 100%;

    .CustomerCommentsCard {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 25px 30px;
      @include responsive992 {
        width: 562px;
      }
      @include responsive374 {
        padding: 11px 28px;
      }

      img {
        object-fit: contain;
        width: 390px;
        height: 390px;
        box-shadow: 0px 0px 4.37854px 0px rgba(0, 0, 0, 0.25);

        @include responsive1440 {
          width: 300px;
          height: 300px;
        }
        @include responsive992 {
          width: 220px;
          height: 220px;
        }
        @include responsive374 {
          width: 95px;
          height: 100px;
        }
      }
      .CustomerCommentsDesc {
        padding: 64px;
        height: 45vh;
        overflow: hidden;

        // white-space: nowrap;
        @include responsive1440 {
          padding: 36px;
          height: 40vh;
        }
        @include responsive992 {
          padding: 26px;
          height: 205px;
          width: 55vw;
        }
        @include responsive374 {
          width: 134px;
          padding: 16px 8px;
          height: 152px;
        }
        h2 {
          padding-bottom: 24px;
          color: #fff;
          @include responsive374 {
            margin: 0;
            padding: 0 0 0 0;
            font-size: 0.7rem;
          }
          @include responsive992 {
            padding-bottom: 18px;
          }
        }
        p {
          overflow: hidden;
          color: #fff;
          text-overflow: ellipsis;
          white-space: pre-line;
          font-size: 1rem;
          font-weight: 500;
          line-height: 20px;
          display: inline-block;
          height: 25vh;
          overflow: hidden;
          @include responsive374 {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}
