.dropdownElement {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(38.5px);
  animation: slideInRightToLeft 500ms forwards;
  transform-origin: top right;
  @keyframes slideInRightToLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .XiconElement {
    position: absolute;
    right: 24px;
    top: 24px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .textsInMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    a {
      padding: 12px 8px;
      color: #333;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    background: #dead8a;
    border-radius: 8px;
    padding: 15px 16px;
    border: none;
    &:active {
      background-color: #a18570;
    }
    .buttonElements {
      width: 180px;
      display: flex;
      justify-content: center;
      height: 24px;
      img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }
      p {
        color: #fff;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        padding-top: 2px;
      }
    }
  }
}
