@import "../../Scss/Color/colors";
@import "../../Scss/Responsive\ measure/measure";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// html {
//   @include responsive1704 {
//     font-size: 80%;
//   }
// }
.WhereToFindSection {
  position: relative;
  width: 100%;
  height: 100vh;
  @include responsive992 {
    height: auto;
  }
  .WhereToFindHeader {
    display: flex;
    position: relative;

    img {
      width: 25%;
      position: absolute;
      top: -7px;
      left: 0;
      @include responsive374 {
        width: 233px;
      }
    }
    h2 {
      position: absolute;
      left: 50%;
      top: 110px;
      transform: translate(-50%, -50%);
      background: $pageName-color;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.5rem;
      font-weight: 700;
      @include responsive580 {
        font-size: 1rem;
      }
    }
  }
  .WhereToFindBody {
    padding: 0 30px;
    padding-top: 230px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: start;
    @include responsive580 {
      grid-template-columns: 1fr;
      padding: 160px 0 0 0;
    }
    .leftPart {
      display: grid;
      .playList {
        // min-width: 485px;
        height: 620px;
        overflow: auto;

        @include responsive1048 {
          min-width: 447px;

          height: 520px;
        }
        @include responsive992 {
          min-width: 340px;
          height: 420px;
        }
        @include responsive580 {
          overflow-y: hidden;
          white-space: nowrap;
          width: 100%;
          height: 115px;
        }

        ul {
          padding: 0;
          object-fit: contain;
          width: 100%;

          .playListItem {
            width: 100%;
            height: 115px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-radius: 15px;
            margin-bottom: 24px;
            cursor: pointer;
            @include responsive580 {
              margin: 0;
              margin-bottom: 80px;

              text-align: left;
              white-space: nowrap;
              min-width: 30px;
              justify-content: flex-start;
            }

            &:hover {
              background: url("../Images/VlogCompImg/İtems02.png");
              background-size: cover;
            }
            &.playListItemActive {
              background: url("../Images/WhereToFindImg/İtems01\ \(1\).png");
              background-size: cover;
              @include responsive580 {
                height: 75px;
              }
            }
            p {
              padding: 0 24px;
              margin: 0;
              font-size: 0.95rem;
              overflow: hidden;
              font-weight: 600;
              @include responsive1440 {
                display: inline-block;
                // padding: auto 0;
              }
              @include responsive992 {
                font-size: 0.7rem;
              }
              @include responsive580 {
                display: inline-block;
                width: 65%;
                height: 25%;
              }
            }
            img {
              width: 168px;
              padding-top: 3px;
              padding-left: 10px;
              @include responsive1048 {
                padding-bottom: 8px;
              }

              @include responsive992 {
                width: 100px;
              }
              @include responsive580 {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
    .rightPart {
      width: 100%;
      @include responsive1440 {
        margin: auto 0;
      }
      @include responsive580 {
        order: -1;
      }
      div {
        width: 100%;

        height: 100%;
        overflow: hidden;
        border-radius: 16px;
        iframe {
          object-fit: cover;
          width: 100%;
          height: 65vh;
          border-radius: 16px;
          @include responsive1440 {
            height: 402px;
          }
          @include responsive992 {
            height: 373px;
          }
        }
      }
    }
  }
}
.playList::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  @include responsive580 {
    background: #eaeaea;
    backdrop-filter: blur(27.907697677612305px);
  }
}

.playList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eaeaea;
  border-radius: 22px;
}

.playList::-webkit-scrollbar-thumb {
  background: $main-color;
  border-radius: 22px;
}

.playList::-webkit-scrollbar-thumb:hover {
  background: #cf946a;
}
// .playList::-webkit-scrollbar-thumb {
//   max-height: 50px; /* İstediğiniz yüksekliği burada belirleyin */
//   overflow-y: scroll; /* Scroll çubuğunu sadece gerektiğinde görüntülemek için */
// }
